<section class="container">
  <div class="outer-wrapper">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Col1 Name</th> <!-- Nom -->
            <th *ngFor="let header of boardData[0].price">{{header.multiple}} {{header.metric}}</th> <!-- Prix -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pricingItem of boardData">
            <td class="name-column">{{ pricingItem.name }}</td> <!-- Nom à gauche -->
            <td *ngFor="let price of pricingItem.price">{{ price.price }}€</td> <!-- Prix à droite -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

